@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Passion+One&display=swap");

@tailwind base;

@font-face {
  font-family: "Crimson Text", serif;
  font-family: "Dosis", sans-serif;
  font-family: "Passion One", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply text-blue-400 underline;
}

p {
  @apply mb-2 font-body text-lg;
}

.heroText {
  @apply text-6xl font-display;
}

@tailwind components;

@tailwind utilities;
